
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');


*{
    padding: 0;
    margin-right: 0;
    box-sizing: border-box;
}

 body{   height: 100vh;
    width: 100vw;
    background-color: azure;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blue{
    background-image: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 2;

}
.score{
    height: 50%;
    width: 50%;
    border-radius: 50%;

    background-image: radial-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.number{
    font-size: 3em;
}
.white{
    background-color: hsla(0, 0%, 100%, 0.422);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    box-shadow: 5px 5px 15px hsl(221, 100%, 96%);
    z-index: -1;
}
.box{
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;

    border-radius: 18px;
    border: transparent;
    padding: 5px 5px;
    text-align: center;
   
}
.reaction{
    background-color: hsla(0, 86%, 92%, 0.872);

}
.memory{
    background-color:hsla(39, 92%, 86%, 0.936) ;
}
.verbal{
    background-color: hsl(168, 78%, 93%);
}
.visual{
    background-color: hsl(235, 95%, 93%);
}

.pr{
    color: hsl(0, 100%, 67%);
}
.pm{
    color: hsl(39, 100%, 56%);
}
.pv{
    color: hsl(166, 100%, 37%);
}
.pvi{
    color:  hsl(234, 85%, 45%);
}

button{
    margin-top: 18px;
    padding: 10px 110px;
    border-radius: 18px;
    color: white;
    background-color: hsl(235, 67%, 11%);
}
