
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');


*{
    padding: 0;
    margin-right: 0;
    box-sizing: border-box;
}

 body{   height: 100vh;
    width: 100vw;
    background-color: azure;
    font-family: 'Hanken Grotesk', sans-serif;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blue{
    background-image: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.number{
    font-size: 3em;
    background-image: radial-gradient(circle,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0););
}
